<div class="container-fluid">
    <!-- Navigation -->
    <div class="navbar navbar-dark bg-dark">
        <a href="/blockchain" class="navbar-brand">
            블록체인 데모
        </a>
        <div>
            <a href="/blockchain/createtx" class="btn btn-outline-light">Createtx</a>
            <a href="/blockchain/pendingtransaction" class="btn btn-outline-light">Pending Txs</a>
            <a href="/blockchain/blockchain_setting" class="btn btn-outline-light">Settings</a>
            <a href="/blockchain/accountlist" class="btn btn-outline-light">계정목록</a>
        </div>
    </div>
</div>
